<html>
    <head>
        <title>Book tickets</title>
    </head>
    <body>
        <form action="{{url_for('book')}}" method="post">
            <label for="show_event_id">Shows</label>
            <select name="show_event_id">
                {%for show in shows%}
                <option value="{{show[0]}}">{{show[1]}}</option>
                {%endfor%}
            </select>
            <label for="customer">customer name</label>
            <input type="text" name="customer">
            <label for="price">Price</label>
            <input type="double" name="price">
            <label for="no_of_seats">No of seats</label>
            <input type="number" name="no_of_seats">
            <button type="submit">Submit</button>
        </form>
        <a href="/">retrun to home page </a>
    </body>
</html>