body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 1.2em;
    margin: 5px 0;
}

.error-message {
    color: red;
    margin-bottom: 20px;
    font-size: 1.2em;
}

.links {
    margin-bottom: 20px;
}

.link-btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.link-btn:hover {
    background-color: #45a049;
}

.section {
    margin-top: 30px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section p {
    font-size: 1.1em;
    color: #888;
}
